[2017-01-31 16:31] ozzi- opened #1 "UI Input State Fields"
Problem description:
Request 1, type in JWT secret
Go to request 2, same secret is in the input field
Only the JWT token is replaced

Solution:
Save the GUI state&content per request / response and automatically save & restore on change.

[2017-02-20 08:04] mvetsch commented on #1
#soon

[2017-02-20 14:12] ozzi- opened #2 "CTRL+C support"
-> getselectedata override

[2017-02-20 14:12] ozzi- opened #3 "New Textarea with Highlighting / Ctrl+Z history"
Maybe https://github.com/bobbylight/RSyntaxTextArea ?

[2017-03-14 09:58] ozzi- opened #4 "Featue: Add support for ECDH-ES vulnerability check"
See:
http://blog.intothesymmetry.com/2017/03/critical-vulnerability-in-json-web.html

[2017-03-14 10:00] ozzi- commented on #2
Done -> fa457bf227baf8f0d27ce7377f576df66fcfe6b7

[2017-03-14 10:00] #2 closed

[2017-03-14 13:19] ozzi- opened #5 "Bug: Standalone (pop out) window does not get the key"
When entering the key using the pop out window, it is not read from the popout instance. Thus the getter needs to determine the context flag if it is a pop out window.

![image](https://cloud.githubusercontent.com/assets/7944573/23902321/0756c638-08c1-11e7-9281-2bec0748f001.png)

[2017-03-14 14:39] #5 closed

[2017-03-15 17:44] #1 closed

[2017-03-17 15:10] ozzi- commented on #3
prototype done in editable tab view

[2017-03-17 15:10] #3 closed

[2017-03-24 08:06] ozzi- opened #6 "TODO: Suite Tab - Verification Result"
Visualize Feedback concerning JWT Decoding (valid / invalid)

[2017-03-24 08:06] ozzi- opened #7 "TODO: EditableTab - MVC"
Use MVC for EditableTab Controller and View

[2017-05-01 13:17] ozzi- opened #8 "Debug header added multiple times"
addLogHeadersToRequest is potentially executed multiple times on one message.
This leads to the header being added multiple times.

Steps to reproduce:
- intercept message
- change from raw to jwt tab multiple times (getMessage is called, thus addLogHeadersToRequest)
- forward

[2017-05-01 14:21] ozzi- commented on #8
Probably fixed in b2ecd3c026be8bcb410c7399742cdc2931918e4f
To be confirmed

[2017-05-01 14:21] ozzi- commented on #7
Done

[2017-05-01 14:21] #7 closed

[2017-05-01 14:21] #6 closed

[2017-05-01 14:23] ozzi- opened #9 "JWT re-encoding - different encoding of payload?"
Token goes in as ey...(rest of token)
Intercepter then returns it as ew..(rest of token)

While the resulting token is valid, it might be confusing for the users.
Some kind of UTF / ASCII issue?

[2017-05-01 14:24] ozzi- opened #10 "Send to suite tab - behavior"
When using the send to suite tab on a message that was edited, the edited text will always be used, even if the original tab is selected.

[2017-05-01 14:27] ozzi- opened #11 "Interception Tab"
In the interception view, when changes are made but the tab is not JWT4B when one clicks "Forward", the original message is sent.

[2017-05-02 07:59] ozzi- commented on #11
The same behavior can be seen in the example extender project of portswigger (Serialized Input Editor) - thus this seems intended behavior.

[2017-05-02 07:59] #11 closed

[2017-05-02 08:00] ozzi- commented on #8
Confirmed fixed

[2017-05-02 08:00] #8 closed

[2017-05-02 09:54] mindfuckup opened #12 "Release Files in Git Repository"
It's not necessary that you commit the built JAR files into the Git repository, which will get bigger and bigger with every new binary file. GitHub has a extra release feature, where you can upload the built JAR file. You can find it in the release tab: https://github.com/mvetsch/JWT4B/releases

Best wishes,
Mänu ;-)

[2017-05-02 10:30] ozzi- commented on #12
https://github.com/mvetsch/JWT4B/releases/tag/1.0 👍

[2017-05-02 10:30] #12 closed

[2017-05-04 14:41] #9 closed

[2017-05-09 05:46] ozzi- commented on #10
https://support.portswigger.net/customer/portal/questions/17029557-icontextmenuinvocation-getselectedmessage-of-original-request-response

[2017-05-09 12:27] ozzi- opened #13 "Suite Tab - Scrollbar"
The Suite Tab does not have a scrollbar yet.

[2017-05-09 12:47] ozzi- opened #14 "Registered Claims Support"
Implement Registered Claims:

http://self-issued.info/docs/draft-ietf-oauth-json-web-token.html#RegisteredClaimName

[2017-05-16 13:46] #13 closed

[2017-05-18 08:28] ozzi- commented on #14
aa8a1723b7332ca6c38e3ea33fc3f217e70988d2

[2017-05-18 08:28] #14 closed

[2017-05-19 15:47] dinopio opened #15 "Cant edit JWT?"
Plugin loaded normally
I see the decoded message but there is no way to edit the contents to perform a replay attack.
Im a missing something here?

[2017-05-19 16:46] ozzi- commented on #15
Hi Dinopio

I observed this problem to, i presume its the rsyntaxtextarea in combination with how Burp loads extensions during runtime. Somehow the key listeners break.
What helps is closing burp and restarting it again, well for me it works.
Please let me know if that does the trick.

[2017-05-24 13:22] dinopio commented on #15
you are right, a restart makes it editable

[2017-05-24 13:29] ozzi- commented on #15
cool that it works, ill close the issue (for now, unless i find the reason why this occurs using rsyntaxtextarea)

[2017-05-24 13:29] #15 closed

[2017-06-20 06:43] mvetsch opened #16 "Feature: add support for azure token position"
Azure sends JWT tokens in a POST parameter id_token. Implementation of a https://github.com/mvetsch/JWT4B/blob/master/src/app/tokenposition/ITokenPosition.java class should be sufficient to support this.

[2017-06-20 07:12] ozzi- commented on #16
Because using standards is overrated. Cool feature idea!

[2017-09-20 06:59] ozzi- commented on #16
implemented in 6dd6d5cb255a34e1eee4765e1675b86d01dd648c

@mvetsch  Could you test it? It worked in my faked use case.
if all is well we might want to consider a pull request for the portswigger guys

[2017-09-20 06:59] #16 closed

[2017-09-21 13:24] mvetsch commented on #16
Nice, I will check that on Saturday

[2017-09-22 11:33] ozzi- opened #17 "Feature: Cookie support"
Cookies can be used to transfer jwt's too:
https://de.wikipedia.org/wiki/JSON_Web_Token#.C3.9Cbertragung_mit_HTTP

Featue: add cookie support
Nice to have: check for secure and httponly flags too

[2017-10-04 05:55] ozzi- commented on #17
partially fulfilled with f3cdc0066c30488fab7e7c097cc0b84871f192cd

[2017-10-10 14:25] #17 closed

[2017-10-11 13:16] akansc opened #18 "Cookie token is not being detected."
I have a latest plugin installed, and "auth-token" in Cookie is not being detected.
Would it be possible to implement something like "custom token name" or something similar, in case we face an application that uses a custom token name?

[2017-10-11 17:49] ozzi- commented on #18
Dear akansc
Could you please provide the request in question, please remove all sensitive information.
If not possible the cookie header with a censored jwt should suffice.
JWT4B _should_ recognized all JWTokens regardless of the name.

Best regards

[2017-10-12 11:42] akansc commented on #18
Hello,

As I was preparing an example, I've noticed where the issue is.
It is not the token itself, but its position. If the token is the first or the second cookie - it works. If it's third or later - it is not detected.

For example it is not detected in this header:
`Cookie: a=a;  a=a; auth-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOn

[2017-10-13 05:37] ozzi- commented on #18
Thanks for the detailed feedback, ill look into it!

[2017-10-13 06:03] ozzi- commented on #18
It passes a new unit test which uses three cookies in one header, creating a pull request at portswigger.

[2017-10-13 06:03] #18 closed

[2017-10-13 07:11] akansc commented on #18
I have one more bug related to this issue.
Plugin does not detect the token, if some cookie without a value is provided.

For example, this one does not get detected, because "a" doesn't have any value:
`Cookie: a=; auth-token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWV9.cAOIAifu3fykvhkHpbuhbvtH807-Z2rI1FS3vX1XMjE;`

[2017-10-13 08:52] ozzi- commented on #18
Done  😅

[2017-10-24 00:07] franklinyu opened #19 "Improve JSON format"
JWT headers are decoded into an object, and each key-value pair is displayed on a single line. However, typically [`x5c` (certificate chain) in the header](https://tools.ietf.org/html/rfc7515#section-4.1.6) contains several elements, so instead of a long

[code]

we can do

[code]

[2017-10-24 08:01] ozzi- commented on #19
Hi Franklin
Thanks for your report, ill see when i find time to fix this.

Note to
self: The problem is found in ReadableTokenFormat -> jsonBeautify
https://github.com/mvetsch/JWT4B/blob/b2ecd3c026be8bcb410c7399742cdc2931918e4f/src/app/controllers/ReadableTokenFormat.java

[2017-10-27 11:08] ozzi- commented on #19
@franklinyu
Can you please check if this fixes the issue? I compiled you a version so you do not have to. Otherwise feel free to compile on your own.

[jwt4b.jar.zip](https://github.com/mvetsch/JWT4B/files/1421814/jwt4b.jar.zip)

[2017-10-27 15:25] FranklinYu commented on #19
Now header and payload are both minified

[code]

[2017-10-27 16:18] ozzi- commented on #19
please provide the JWT in question

[2017-10-27 17:03] FranklinYu commented on #19
[code]

Got it from <https://jwt.io/>.

[2017-10-27 17:23] ozzi- commented on #19
I think i misunderstood you, i thought the JWT was wrongly encoded after editing, but you were just saying the display in the edit view is not properly performed. Now i get it. Let me fix this

[2017-10-27 18:12] FranklinYu commented on #19
@ozzi- Sorry to have confused you. Yes, the encoding and decoding is perfectly valid. I just hope to improve the display/look so that it can fit on my screen.

In addition I found that I cannot copy from the "decoded JWT". Not sure if it is intended?

[2017-10-27 18:28] ozzi- commented on #19
No worries, i did not properly read your initial message.
I tested it locally, can you confirm the fix?

Concerning your issue with copying, are you referring to which view? The intercept decode? I know that the used highlighting textarea has problems when reloading the plugin jar and not restarting burp. Try closing and opening burp please.

[jwt4b.jar.zip](https://github.com/mvetsch/JWT4B/files/

[2017-10-27 19:16] FranklinYu commented on #19
Fantastic, this is exactly what I meant.

By the copying issue, I was referring to the top-level tab (the one besides Target, Proxy, Spider, and so on). It has three fields: "Enter JWT", "Enter Secret / Key", and "Decoded JWT". The first two are editable and I can copy from them; it makes sense for the last field to be read-only, but I wish to copy the decoded payload to somewhere else (for exampl

[2017-10-27 19:25] ozzi- commented on #19
Glad to hear!

Oh, burp calls it suite tab. I am able to mark and copy text by using ctrl+c. This is on a debian system.
Can you try restarting burp and using ctrl+c while marking text by mouse?

[2017-10-27 19:46] FranklinYu commented on #19
I am able to do that now. Maybe just a glitch, never mind.

[2017-10-27 19:46] #19 closed

[2017-10-27 19:56] FranklinYu commented on #19
I think I know why, after some experiments. You were right: every time I load a new extender (from BApp Store or from local file) I need to restart Burp. Otherwise it will always prevent me from copying.

[2017-10-27 19:58] ozzi- commented on #19
Yeah i tried to debug it, but the guy developing rsyntaxtextarea could fix this with way less effort than I.

[2017-10-29 12:09] dobin commented on #19
I have the same bug with rsyntaxtextarea: Sometimes copy-paste keyboard events just stop working :-(

[2017-10-30 08:01] ozzi- commented on #19
Ill investigate this issue, worst case I will look for another lib or use non-highlighted element from Swing directly

[2017-10-30 21:15] franklinyu opened #20 "JWT detection"
Currently if header has `Authorization: Bearer` it would say "JWT detected" (I believe the logic is [here](https://github.com/mvetsch/JWT4B/blob/1.2.1/src/app/tokenposition/AuthorizationBearerHeader.java#L19)), but [RFC 6750](https://tools.ietf.org/html/rfc6750) doesn't require Bearer Token to be JWT (for example some Google API doesn't use JWT as Bearer Token). It might be better to label the req

[2017-10-31 06:17] ozzi- commented on #20
Yeah you are write, currently only headers starting with "Authorization: Bearer" are considered. Which is rather minimal, i think this code is there since the first prototype.
It would make more sense to just look through all headers and check if anything in there looks like a JWT. Im on it.

[2017-10-31 12:57] ozzi- commented on #20
This should fix the issue, please confirm
https://github.com/mvetsch/JWT4B/blob/2420fb13ca489bbb3f08a8a537f6e906f644fbf1/src/app/tokenposition/AuthorizationBearerHeader.java#L33

Built version with fix:
[jwt4b.jar.zip](https://github.com/mvetsch/JWT4B/files/1430770/jwt4b.jar.zip)

[2017-11-01 21:22] FranklinYu commented on #20
Works great! Thank a lot man

[2017-11-01 21:22] #20 closed

[2017-11-22 10:30] mvetsch opened #22 "REST APIs"
Since on REST APIs all requests contain auth-tokens usually this leads to a wall of blue entries in burp:
![image](https://user-images.githubusercontent.com/4502366/33122692-35014d46-cf78-11e7-8df2-e14b826e01d1.png)

@ozzi- What do you think? Would it make sense to only mark requests with the token in the response? So the plugin just marks the token issuing, instead of every request it is used.

h

[2017-11-22 14:17] ozzi- commented on #22
Well if its the color that is annoying, we could just set a comment and not highlight the entry.
What do you think?

[2017-11-29 17:15] mvetsch commented on #22
Or we just color tokens in the response and add the comment for all messages containing a token. That way you still see when the token was issued.

[2017-11-29 17:21] #22 closed

[2018-01-05 12:21] dobin opened #23 "Attack implementation (like SAMLRaider)"
Any plans for JWT4B to support SAMLRaider like attacks on JWS? E.g. https://nvd.nist.gov/vuln/detail/CVE-2018-0114

[2018-01-05 16:52] ozzi- commented on #23
JWT4B already has support for alg none attacks.
Supporting further attacks seems like a logical thing to do.

Todo:
- Add checkbox "CVE-2018-0114 Attack" in JWT4B/src/gui/JWTInterceptTab.java
- Implement attack logic in  JWT4B/src/app/controllers/JWTInterceptTabController.java -> getMessage()

[2018-03-29 21:21] ozzi- commented on #23
Feature added with:
https://github.com/mvetsch/JWT4B/commit/b18549c9cd7bf2d104f574a3369c816aee2400a9

@dobin  do you have a vulnerable app you can test this with? I tried to replicate the python code I found on exploit db ( https://www.exploit-db.com/exploits/44324/ )

[2018-05-03 17:53] yehgdotnet opened #25 "Feedback from Burp Suite Team"
Hi @mvetsch

i submitted your awesome plugin to Bapp Store.   It is live now.

Burp Suite Team said the following. Please respond to them at support at portswigger.net if you wish.

[2018-05-04 06:30] #25 closed

[2018-05-04 06:34] mvetsch commented on #25
Thanks, we already submitted the extension to BApp store earlier.
The main tab allows to deal with tokens not related to any request, which is quite helpful sometimes.

Is there a better option in the burp suite to offer such functionality?

[2018-05-05 18:47] ozzi- commented on #23
implemented in  1.5

[2018-05-05 18:47] #23 closed

[2018-10-20 11:32] HD421 commented on #2
Hello. Can you pls add Command+C support too? Unable to copy at Mac OS X

[2018-10-21 14:30] ozzi- commented on #2
Hi @HD421  ill look into this, what macOS version are you using?
Does ctrl work instead of command?

[2018-10-22 21:45] HD421 commented on #2
Hello @ozzi- , thanks for your time. Unfortunately ctrl isn't working. My MacOS version is High Sierra 10.13.6

[2018-10-23 13:10] ozzi- commented on #2
Hi @HD421
Tested this on a macOS 10.13.6 using CMD+C , +X , +V - works like a charm:
https://raw.githubusercontent.com/ozzi-/ios-web-application-skeleton/master/clipboard.mov

Does copy paste work in other burp apps / burp itself?

Regards

[2018-10-23 15:59] HD421 commented on #2
Hi @ozzi-
Yeah, no problem with cmd+c in other burp apps, idk why JWT4B still not work in my case. But thank you anyway. Maybe problem laying in my burp v2.0.9beta

[2018-10-23 16:38] ozzi- commented on #2
Oh ill go check on a burp 2.x installation, this might be the problem here

[2018-10-23 16:40] ozzi- commented on #2
Mhh I do not have access to burp professional at the moment, so I cannot test the beta.
Can you try it on a Windows / Linux system with v2.0.9? Otherwise ill have to wait until a community edition v2 is released.

[2018-11-23 11:43] BastienFaure opened #26 "Allow newlines in secret field"
Hi,
I just faced a case in which the signing key contained newlines, which are stripped during paste in the field. That may also be useful in case people want to test the RS256 -> HS256 switch public key as secret.

Thanks!

[2018-11-27 20:57] ozzi- commented on #26
Hi @BastienFaure
Please find the newest release here, you can now user enter in the secret field. https://github.com/mvetsch/JWT4B/releases/tag/1.6

According commit:
https://github.com/mvetsch/JWT4B/commit/6e508c4cc1ac2d9cc9517bc096865d58d6346068

Please test if this works as you would expect, if its ok ill create a pull request for the Bapp Store.

Cheers

[2018-12-17 10:49] ozzi- commented on #26
Created pull request for BAPP.
Closing this issue, feel free to reopen though

[2018-12-17 11:33] ozzi- opened #28 "Broken Logo in About Tab"

[2019-03-14 21:32] BastienFaure commented on #26
Hi buddy.
Sorry about being lazy I totally forgot to check your update. Graphically this seems to be working but I couldn't validate since I have another bug that prevents me from editing :(

However, I do have another bug: when I want to resign with a random key in the Repeater, the text area for the key becomes huge and hides the rest of the menu:
![jwt4b_bug](https://user-images.githubuserconte

[2019-03-18 09:39] ozzi- commented on #26
Problem: Resiging with random key in repeater, menu is invisible.
Feature Request: Load key from file

[2019-07-04 07:45] awakenine opened #29 "Secure and HttpOnly flag detection returns false positives"
In response below JSON Web Tokens detected that "No secure flag set" and "No HttpOnly flag set".

[code]
Expected result: No alert, because flags are set.

[2019-07-05 07:23] ozzi- commented on #29
Hi Awakenine
Thanks for your issue, ill have a look!
Cheers

[2019-07-05 08:01] ozzi- commented on #10
https://github.com/PortSwigger/burp-extender-api/releases still lists 1.7.22 as the newest release, thus can't fix yet

[2019-07-05 08:41] #28 closed

[2019-07-05 08:55] #29 closed

[2019-07-05 08:57] ozzi- commented on #29
The problem is, that your set-cookie header uses "wrong" capitalization of secure & httponly, see the standard paper here https://tools.ietf.org/html/rfc6265#section-5.2.5

I tweaked JWT4B to use lowercase for the checks ;)
Make sure to get the newest release on the burp store or the jar from our github repo.

[2019-07-05 11:12] #26 closed

[2019-07-05 11:14] ozzi- commented on #26
Hi @BastienFaure
I think you will enjoy the latest release, sorry it took me this long ;)
https://i.imgur.com/ajtAJRy.png

Cheers

[2019-08-08 09:51] GanbaruTobi opened #30 "Signature Notification missleading"
I had the case, where i found the right key of an JWT-Token. I wanted to verify it with this plugin. But since my system time was before the iat, the token was shown as followed:

![JWT-Wrong-Signature-Notification](https://user-images.githubusercontent.com/15239745/62692508-17328100-b9d1-11e9-9b51-4ad6b82b3480.PNG)

It would be helpfull to visualize when a signature was correctly formed/tested. S

[2019-08-09 06:21] ozzi- commented on #30
Hi Tobi
Good input, the red button should be clearer. In this case yellow and more detailed information seems sensible. On my todo list.
Cheers

[2019-08-09 08:35] GanbaruTobi commented on #30
I could give it a shot the next two days if you don't mind?

[2019-08-09 08:36] ozzi- commented on #30
Pull requests are welcome!

[2019-08-09 13:44] #30 closed

[2019-08-09 13:45] ozzi- commented on #30
https://github.com/mvetsch/JWT4B/releases/tag/1.8

[2019-11-14 12:45] slicingmelon opened #33 "Feature: Add jwtKeywords in JWT4B's tab in burp"
Hello,

During a recent pentest, the jwt token was being sent via a HTTP header named **jwt**. As such the extension did not recognize it and I was not able to test it. It would be better for users to be able to choose the jwt input sources rather than hardcoing the values in the source. [JOSEPH](https://portswigger.net/bappstore/82d6c60490b540369d6d5d01822bdf61) has a feature like that and it wor

[2019-11-23 21:53] eahamberg opened #34 "Bad string constant in app.algorithm.AlgorithmLinker"
The following final constant is assigned incorrectly:

public static final String publicKeyEnd = "-----BEGIN PUBLIC KEY-----";

This should be:

"-----END PUBLIC KEY-----", naturally.

Also, several certs export with the format "-----BEGIN CERTIFICATE-----" and "-----END CERTIFICATE-----"

Thanks for the great extension, BTW.

[2019-11-25 15:09] #34 closed

[2019-11-25 15:12] ozzi- commented on #34
Hi @eahamberg
Thanks for the input, I changed the code accordingly. Ill upload a new release soon, feedback welcome!

Cheers

[2019-11-25 15:22] ozzi- commented on #33
Hi @slicingmelon
Good input, I will have to see what is possible, but definitly a good feature to have.
Im not very good with Swing UI's, might just make a json file that configures JWT4b, thoughts on that?

Cheers

[2019-11-25 15:26] ozzi- commented on #34
https://github.com/mvetsch/JWT4B/releases/tag/1.8.1

[2019-11-26 12:34] slicingmelon commented on #33
Hello, yes the values could be saved to a json file. In terms of code, I guess you can have a look at the other extension.

[2019-11-26 17:27] ozzi- commented on #33
This commit brings support for config json file https://github.com/mvetsch/JWT4B/commit/c28bfa93c04f94b5cad54e968645a15f19ce1afa

I decided against a fancy UI, the jwt4b tab has a button "Config" which will open the json file for you, its easy enough for techies ;)

Please help me testing by downloading the latest release 1.9 - https://github.com/mvetsch/JWT4B/releases/tag/1.9 - thanks!

[2019-12-03 08:23] ozzi- commented on #33
assuming its good 👍

[2019-12-03 08:23] #33 closed

[2019-12-03 16:12] ozzi- opened #35 "Replace deprecated observers"
Observers are deprecated - rewrite the code.

[2020-02-05 13:56] philipp-klemmer opened #36 "Feature: Add support for editing Repeater JSON Web Tokens"
Whenever you send something to Repeater and change the payload, it would be great to adjust the `dta` in the Payload.

[2020-02-05 15:20] ozzi- commented on #36
Hi @philipp-klemmer
can you give me an example? what do you mean by "dta"?
Cheers

[2020-02-05 16:19] philipp-klemmer commented on #36
It would be nice whenever I use the Repeater that it would be possible to also manually adjust the Request Payload inside the JSON Web Tokens tab. Here is a screenshot:
https://i.postimg.cc/Yqrn1L2k/burp-extention.png

[2020-02-05 16:19] giovanni-riva commented on #36
Hey @ozzi- ,
nice work first of all!
I think @philipp-klemmer issue more generally is that you cannot edit the parsed JWT in the "Repeater" tab of Burp.

[2020-02-06 22:01] royharoush opened #37 "burp 2020.1 broke this extension"
in burp 2020.1 you can no longer edit the JWT token.

[2020-02-07 07:42] ozzi- commented on #37
@royharoush
Does this problem persist after restarting burp?
Can you provide any log (Extender Tab)

Note to self:
I might have to replace the rSyntaxTextArea Library

[2020-02-07 17:26] ozzi- commented on #37
Hi @royharoush
Does this fix the problem mentioned?
[jwt4b.zip](https://github.com/ozzi-/JWT4B/files/4172144/jwt4b.zip)

[2020-02-07 17:36] ozzi- commented on #36
Hi Guys
Either build newest commit from source or use the following JAR:
[jwt4b.zip](https://github.com/ozzi-/JWT4B/files/4172169/jwt4b.zip)

The JWT is now editable, but im not sure if the changes are actually sent with the repeated request.
Can you confirm this?

Cheers

[2020-02-08 20:32] royharoush commented on #37
most of the work i do is in repeater with your extension.

the version you uploaded here allows editing in repeater, but when you select to "recalculate" siganture", it doesn't actually sends a new signature, just updates the payload. it might have been the case with earlier versios of burp, but i never looked that closely..

ill check with the last burp stable and update.

[2020-02-10 11:03] giovanni-riva commented on #36
Hey @ozzi-
bug-issue #37 reports the same issue as in this thread.

[2020-02-11 15:12] #35 closed

[2020-02-11 15:27] ozzi- commented on #37
@royharoush  going to close this issue and continue investigations in #36   :)

[2020-02-11 15:27] #37 closed

[2020-02-11 15:34] ozzi- commented on #37
I did some testing, nothing done in the JSON Web Tokens tab is actually reflected in the request, when using the repeater. This is due to getMessage (IMessageEditorTab) not being called in JWTInterceptTabController. Ill do some research and come back to you.

[2020-02-11 15:34] ozzi- commented on #36
I did some testing, nothing done in the JSON Web Tokens tab is actually reflected in the request, when using the repeater. This is due to getMessage (IMessageEditorTab) not being called in JWTInterceptTabController. Ill do some research and come back to you.

[2020-02-11 15:35] ozzi- commented on #36
I did some testing, nothing done in the JSON Web Tokens tab is actually reflected in the request, when using the repeater. This is due to getMessage (IMessageEditorTab) not being called in JWTInterceptTabController. Ill do some research and come back to you.

[2020-02-11 15:38] ozzi- commented on #36
@giovanni-riva  wanted to delete my duplicate comment, deleted yours, awfully sorry - the UI here is a bit laggy

[2020-02-11 16:25] ozzi- commented on #36
getMessage is called in the repeated and returns the correct result. Ill need somebody at PortSwigger Forums to help me out, however they are currently down

[2020-02-11 16:33] ozzi- commented on #10
still 1.7.22

[2020-02-12 08:16] giovanni-riva commented on #36
Hey @ozzi- , thanks for the updates!
Let's see what PortSwigger replies.

[2020-02-13 08:44] ozzi- commented on #36
https://support.portswigger.net/customer/en/portal/questions/17698080-repeater-tab-imessageeditortab-getmessage?new=17698080

[2020-03-02 12:42] ozzi- commented on #36
Got a response, Ill cross-check their example implementation with mine. I hope it is easy enough to fix.
[code]

[2020-03-02 12:55] giovanni-riva commented on #36
Awesome, thanks.

[2020-03-02 14:05] ozzi- commented on #36
Ok it should work now - sending to repeated, payload "sub" is 1234567890:
![first](https://i.imgur.com/yTvc8wC.png)

Changing it to "sub" to "BLUB" and checking what comes back, it does what is expected:
![first](https://i.imgur.com/U8LouDs.png)

[2020-03-02 14:07] giovanni-riva commented on #36
Hey @ozzi- ,
so is the token signature recomputed automatically after changing the payload?
Or do we need to add the secret via GUI (e.g., load secret from file) each time?

[2020-03-02 14:41] ozzi- commented on #36
Hi @giovanni-riva
Oh, that is another problem 😄  I see your point... Let me think

[2020-03-02 15:06] ozzi- commented on #36
@giovanni-riva
I added a config.json switch called "resetEditor". Set it to "false" and the checkbox / radio buttons will stay the same for every request. This defaults to true though, as I fear this will confuse most users, imagine the following:
You are working in the intercept view, first you get a JWT using HS256, so you resign it with the key "abcd", the next request contains a JWT using RS25

[2020-03-02 16:04] giovanni-riva commented on #36
Hey @ozzi-, thanks for the update.
Will test it by EOW. Thanks

[2020-03-07 16:58] giovanni-riva commented on #36
Hi @ozzi- ,
I tested the new version and it seems working for me.
I have a couple of suggestions:

1. Wrap the text inside the jwt editor or add a lateral scrollbar. I couldn't see the whole signature even by enlarging Burp window
2. It may be more user friendly to enable cmd+z to the editor as well
3. It may be more user friendly to enlarge the size of the textfield wer you insert the secret. At

[2020-04-27 14:47] ozzi- commented on #37
@royharoush this issue seems to be fixed in burp 2020v4!
https://portswigger.net/burp/releases/professional-community-2020-4

[2020-04-27 15:22] ozzi- commented on #36
Hi @giovanni-riva

Scrollbar is now back, I reverted back to rsyntaxtextarea as burp 2020v4 fixed an issue.

This is back too.

Not quite sure,... are you refering to the intercept tab? Recalculate signature?

Feel free to download 1.11, ill create a PR in the mean time to get it into Bapp store.

Cheers

[2020-04-27 15:25] giovanni-riva commented on #36
Hey @ozzi- ,
thank you for the updates!

I am referring to the Repeater tab. There is the right section where e.g., you choose the radio button to recalculate the signature. On the bottom you can insert a new signature manually.

Thanks! Will do

[2020-05-15 00:45] bognolo opened #40 "JWT not detected in response body"
The response with the (shortened) JWT that was not detected is

{
  "found": true,
  "data": {
    "trace": [],
    "errorType": "string",
    "errorMessage": "{\"error\":\"Incorrect xxx\",\"source\":\"xxxx\",\"key\":\"BAD_REQUEST\"}"
  },
  "log": "xxxx',\n      method: 'get',\n      params: [Object],\n      headers: [Object],\n      transformRequest: [Array],\n      transformResponse: [Array],\n

[2020-06-01 16:01] calabacito opened #41 "Repeater: JWT4B tab disappearing"
Hi !

In the repeater tab I have the JWT4B tab. 👍
After playing in the tab (recalculate for ex), and then going to RAW the tab will disappear.
This seems to be crashing, when I check Extender/extensions/JWT4B errror tab it shows:
_15:53:50.626 | [Ljava.lang.StackTraceElement;@f6c3b3e_

Also, after sending the request the tab disappear, and again the error tab show stacktraces.

Thanks and keep the

[2020-06-02 11:34] ozzi- commented on #41
Hi @calabacito
I tried to reproduce your bug (Windows 10, Burp Community Edition v2020.4.1, JSON Web Tokens 1.9 from Bapp Store).
1. From Proxy History, send Request to Repeater
2. In Repater go to JWT4B Tab, recalculate signature
3. Go to Raw Tab and back to JWT4B tab
I get no errors and the tab is still there.

Ill try with the latest version here.

[2020-06-02 11:36] ozzi- commented on #41
Note to self:
1.11 crashes as mentioned by calabacito.

[code]
Introduced with 3e213d798943594d1ad4d4fc0017a9128373ab0e

[2020-06-02 11:38] ozzi- commented on #36
@giovanni-riva  any feedback on 1.11?

[2020-06-02 12:03] ozzi- commented on #41
@calabacito  this seems only to happen, when don't enter a "valid" private key (i.E. MEECAQAwEwYHKoZIzj0CAQYIKoZIzj0DAQcEJzAlAgEBBCDG2/MGVVqOTV2E/NN7YP43JbFmsD2ZuFDxgXhERv+0Eg== is valid).  I patched it to output the error and to continue instead of crashing ;)

![screenshot](https://i.imgur.com/FgYVob3.png)

Can you test this and give me feedback?
[jwt4b.zip](https://github.com/ozzi-/JWT4B/files/

[2020-06-02 12:11] ozzi- commented on #40
Hi @bognolo
You are receiving a JSON response, containing an array, containing a string starting with " 'Authorization: Bearer eyJraWQiO....' , right?
Currently JWT4B does not scan the response body. This might be a good feature though!

Edit: Oh right, I received a PR at one point implementing this, ill debug

[2020-06-02 12:12] #4 closed

[2020-06-02 12:19] ozzi- commented on #40
@bognolo  is that the actual JSON you receive? Its invalid therefore JWT4B won't try to find a token in there.

[2020-06-02 12:20] #40 closed

[2020-06-02 12:47] calabacito commented on #41
- Recalculate signature fixed!

But:

1. - From Proxy History, send Request to Repeater
2. - In Repater go to JWT4B Tab, **change alg None Attack**
3. - Go to Raw Tab.
4. - crash

Seems to be happening also when playing around with modified **wrong** text, and playing with the options.
Ex:
`Headers = {
  "alg" : "HS256"a,
  "typ" : "JWS"
}`

Thanks for the quick response!

[2020-06-05 13:12] ozzi- commented on #41
Hi @calabacito
Great to hear!

Thanks , I couldn't reporduce the alg attack, however the one with the invalid JSON.
I pushed a fix, please check :)

I uploaded a JAR or compile via maven.

Regards

[JWT4B_fix.zip](https://github.com/ozzi-/JWT4B/files/4736287/JWT4B_fix.zip)

[2020-06-15 09:23] ozzi- commented on #41
3fe958d one to slay them all. if not, please reopen :D

[2020-06-15 09:23] #41 closed

[2020-06-15 09:24] ozzi- commented on #36
initial issue is implemented. further improvements please open a new issue, its getting cluttered in here

[2020-06-15 09:24] #36 closed

[2020-08-25 13:03] mindfuckup opened #42 "Extension Modifies Timestamps"
Hi Ozzi :)

We discovered an issue while using your extension.

**Issue**

The timestamps are modified by the extension even if the content is not changed.

**Steps to reproduce**

Access a website that uses JWT tokens, e.g. https://www.compass-demo.com/jwt_demo/.

Received JWT:

    eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJyb2xlIjoidXNlciIsImV4cCI6MTU5ODM1ODU1NC4zNzQ2MjM1fQ.katJDBB-Yqkdx9u_ua-6OMW

[2020-08-26 10:45] ozzi- commented on #42
Ohhhh... this shouldn't happen
Are you using the latest BAPP version?

edit: this happens in the latest version & is not unique to the "exp" field, tests using "foo" had the same effect on the value

[2020-08-26 12:00] ozzi- commented on #42
Bug resides here:
https://github.com/ozzi-/JWT4B/blob/master/src/app/controllers/ReadableTokenFormat.java#L70

This will do some weird things with floats / doubles

[2020-08-26 12:36] ozzi- commented on #42
Problem lies here: https://github.com/ozzi-/JWT4B/blob/master/src/app/controllers/ReadableTokenFormat.java#L70
Solution might be WRITE_NUMBERS_AS_STRINGS (https://fasterxml.github.io/jackson-core/javadoc/2.4/com/fasterxml/jackson/core/JsonGenerator.Feature.html)

[2020-08-26 14:56] ozzi- commented on #42
Hi @mindfuckup
Can you confirm it fixed?
I have a JAR here, you can build the latest commit yourself if you prefer
[jwt4b.zip](https://github.com/ozzi-/JWT4B/files/5130599/jwt4b.zip)

Cheers :)

[2020-09-03 12:20] emanuelduss commented on #42
Hey Ozzi

I tested the new release https://github.com/ozzi-/JWT4B/releases/tag/1.13 and I can confirm that it is fixed.

THX1K for this very quick fix! Our students will be happy ;-)

LG
Mänu

[2020-09-03 12:20] #42 closed

[2020-09-04 06:49] ozzi- commented on #42
Hi Manü
Glad to hear! Happy hacking

PR for Bapp store:
https://github.com/PortSwigger/json-web-tokens/pull/18

Cheers

[2020-09-04 07:09] emanuelduss commented on #42
BTW I have to tell you that this extension is so awesome! 🤘🤘🤘 Enabled by default in my Burp Setup 😀. Thanks for creating and still maintaining it!!!

[2020-10-27 13:07] floyd-fuh opened #44 "No support for whitespace"
Thanks for this tool. The tool does not honor whitespaces, though. I know, you probably thought nobody would ever do that, but believe me, they do. So simply put, when I chose "do not automatically modify signature" and the header of the original JWT token starts with:

`{"alg":"HS256","typ" : "JWT"` [...]

Then your tool will automatically decode and recreate the JWT token with the following head

[2020-10-28 07:33] ozzi- commented on #44
Hi @floyd-fuh
Thank you for the bug report!
Yeah strange, I did not expect JWT's with spaces...
I fixed "when I chose "do not automatically modify signature" and the header of the original JWT token starts with", however I am still unsure how to handle other cases, as in we want to fiddle around with a JWT and send it containing whitespaces. Any ideas?

I attached a JAR (or feel free to build your

[2020-10-28 07:59] floyd-fuh commented on #44
Well, you can look at the problem from different sides.

In theory the best approach would be to analyze where whitespaces are and remember them and also put them back into the JSON after you're done. Otherwise you lose information and therefore the signature is wrong. I know, this is probably huge pain from a programming perspective. I've seen other weird protocols in practice where weird whitesp

[2020-10-28 10:30] floyd-fuh commented on #44
Hey @ozzi-

Unfortunately I have to tell you that with the new version, you made things a lot worse: You are now using the representation you use in your JSON Web Token tab! That means:

[code]

You include newlines and spaces. However, you use your GUI whitespaces, not the original JWT's whitespaces. Please revert the changes.

[2020-10-28 11:01] ozzi- commented on #44
Ah silly me, I did not think this through.
Funny enough, there already was a ToDo stating "check if anything was modified, if not return original message".
I implemented a check if any changes were performed in the textarea, if no changes were made and the UI is set to "Do not automatically modify signature", the whitespaces are conserved (this time I checked).

The amount of work involved with re

[2020-11-19 16:01] mindfuckup opened #45 "Wrong Signature"
Hi ozzi-

I really like this extension and use it a lot but just had some issues while creating signatures with a secret that contains linebreaks.

This is e.g. important in the algorithm confusion attack where you sign your RS256 token using the public key but using the HS265 algorithm.

# Situation

Example JWT:
[code]

Decoded:
[code]

# What I want

I get the expected result i previous version

[2020-11-19 16:04] ozzi- commented on #45
Hi Mänu

Thank you for the exemplary issue!
However, do you know if this worked with 1.12? Meaning the perpetrator is in v1.13..

Cheers

[2020-11-19 16:05] ozzi- commented on #44
Any input @floyd-fuh ?

[2020-11-19 16:09] ozzi- commented on #45
Commit identified
https://github.com/ozzi-/JWT4B/commit/feed19960dc6e45eb0ae3a4f1e5fa11343abb506

[2020-11-19 16:11] ozzi- commented on #45
Can you please see if this works? Alternatively feel free to build from the latest commit ;)
[JWT4B.zip](https://github.com/ozzi-/JWT4B/files/5568098/JWT4B.zip)

[2020-11-19 16:24] emanuelduss commented on #45
Yayy

![image](https://user-images.githubusercontent.com/438188/99693862-1d485600-2a8c-11eb-9321-a905b76d46b8.png)

Awesome, THX!

[2020-11-19 16:27] ozzi- commented on #45
Thanks :)
https://github.com/ozzi-/JWT4B/releases/tag/1.14

[2020-11-19 16:27] #45 closed

[2020-11-26 08:09] floyd-fuh commented on #44
Hi @ozzi-, sorry for the late reply, actually I don't have access to the environment anymore, sorry I've been really busy. Let's close this for now and if I run into the same/similar issues again, I'll let you know. If you really want to test it, this shouldn't be too hard, just artificially create a token that has a space and make sure the base64 structure doesn't change at all when you look at i

[2020-11-26 08:09] #44 closed

[2021-01-04 16:18] clem9669 opened #46 "Automated tests into buttons"
Hey !

Thanks for this great extension 😄

I was wondering what are the "automated tests" that the ext provide (i see none on my version which seems to be the latest) ?

Is there a way to disable the automated tests ?
is there a button to click to activate only the alorithm to None or the CVE-2018-0114 attack ?

It would be super nice to have a button for each attack that **recreate & print the mal

[2021-01-07 09:16] ozzi- commented on #46
Hi @clem9669
Concerning the "automated", this might be a wrong choice of words - my bad.
Automated meaning you can automate the known attacks against JWT by using the radio buttons.

Try to send a request to the repeater, there you will find a JWT4B tab.

Hope this helps :)

Cheers

[2021-01-07 09:16] #46 closed

[2021-02-15 13:35] bksec opened #47 "Plugin broken in Burp Suite Pro v2021.2"
Hi! Thank you for the work on this plugin!
Unfortunately, it seems like the plugin no longer works in v2021.2 - if I send a JWT to the JSON Web Token extension, it correctly decodes the JWT and I can see the fields. However, it is not possible to modify the JWT in the text area. I can click the text area, move the cursor around, select text and the text area even automatically detects pairs of par

[2021-02-16 14:09] ozzi- commented on #47
Hi @bksec

Thanks!
This is a common problem with the rsyntax textarea and burp (since quite some time).
It however should only happen when the plugin is activated after burp was started (meaning just installed).

Can you restart burp and give me feedback if it works?
I have no burp pro to test it.

Otherwise, there might be a fix around ,see https://github.com/bobbylight/RSyntaxTextArea/issues/269

[2021-02-16 14:30] bksec commented on #47
Hi @ozzi-

Thank you for your reply! The problem also persists after restarting. I've just tried the plugin in the Community Version v2021.2. Everything is fine there, so it does seem like it's a bug with the Pro version. Strange.

Happy to help with a fix! Let me know how I can help you and I'll do my best :)

[2021-02-17 10:14] ozzi- commented on #47
Oh no portswigger what have you done? 😁

I opened a new branch with the potential hotfix:
https://github.com/ozzi-/JWT4B/commit/e98fed438fca96e59d881ae2624f7c54940771e0
Testing it on my community version, the results are promising, no restart of burp is required for the textarea to work, so I have big hopes it will work in the pro version too.

Can you please test the following jar attached:
[jwt4

[2021-02-17 12:07] bksec commented on #47
Hi @ozzi-

Good news! I just tested it and your hotfix works! The text area for editing the JWT is still quite small, but it's possible to edit the JWT now. Recalculation of the signature also works. Thank you for the super quick fix!

Side note: I'm on Burp Suite Pro v2021.2.1 now, since a new version was just released and the hotfix works there. I couldn't test it with v2021.2 before updating. T

[2021-02-17 12:08] ozzi- commented on #47
Thank you for your fast testing!
Can you please provide a screenshot of the text area? Then i can fix both together and create a release.

[2021-02-17 12:11] bksec commented on #47
The text area size is the same as in the Community version and as in my screenshot in the first comment. I think it could be a bit wider but especially quite a bit longer, so that you can see more parameters at the same time :)

[2021-02-17 12:15] ozzi- commented on #47
When the burp window is "reasonably" big, i get the following result:
https://i.imgur.com/1d0LQjQ.png

When the window is smaller, i can see the ratio being a bit weird:
https://i.imgur.com/ZJ979RK.png

Ill do my best - however java swing isn't my strongest skill :D

[2021-02-17 12:26] bksec commented on #47
Ah, I see, I have the same behaviour. My screenshot is from the Repeater. If I close the Inspector there and make the Response part smaller, the text area gets bigger, as in your screenshots. In the Proxy it's also like in your screenshot.

Has been some time since I worked with Swing, so I can' treally give too many tips. I know it's not the easiest framework to work in 😅

[2021-02-17 15:08] ozzi- commented on #47
I tuned the UI, it isn't perfect, but it "behaves" more useful now ;)
https://github.com/ozzi-/JWT4B/commit/99e4505161a7929a14d95be80b69bd23ce6e07d3

https://i.imgur.com/EsMnMAO.png

Ill create a PR for portswigger!
Thanks for your help making JWT4B better 👍

[2021-02-17 15:08] #47 closed

[2021-02-18 07:57] bksec commented on #47
Fantastic! Thank you so much! Looking forward to see the update in the offical BApp store. :D

[2021-04-15 11:51] ozzi- opened #49 "Extend GZIP Support"
See https://github.com/ozzi-/JWT4B/pull/48
When forwarding, GZIP header should be either stripped or content re-zipped.

[2021-05-12 08:41] mindfuckup opened #50 "Feature Request: Support for Multiple JWTs"
Hey Ozzi

I have a feature request:

It should be possible to support requests with multiple JWTs, when there is for example a JWT in an Auth header and another in a cookie or multiple ones in cookies.

I know, a pull request would be better for you, but I'll just leave it here as-is...

Best,
Mänu 😄

[2021-05-14 11:18] ozzi- commented on #50
Cheers @mindfuckup
Fair point, should be doable, the handling the UI being the most complex ...
Lets see, maybe some kind soul will create a PR ;)

[2021-07-06 11:10] 0xElessar opened #51 "JWT Editing"
Thank you for the work, guys.

But currently, the plugin is unusable. Why do you make editing JWT so difficult? Only adding characters work. DELETE, BACKSPACE or COPY/PASTE does not work at all. In the end, I need to do that manually by editing BASE64 :(

[2021-07-06 12:11] ozzi- commented on #51
Hi @0xElessar
Well that is not on purpose for sure :D
What version of JWT4B (BApp Store / Version?) and which version of Burp?
That way I can try to replicate the problem.

Cheers

[2021-07-06 12:16] 0xElessar commented on #51
Thank you for quick response :)

Windows - Full Install version - 2021.6.2
JWT4B: 1.15
Windows 10 1909

[2021-07-06 14:12] ozzi- commented on #51
Just updated my burp to 2021.6.2 community edition, using JWT4B 1.15 from bapp. Running Win10 19041.1052
Works for me, see my screenrecording - at second 12 I do CTRL+X , CTRL+Y and CTRL+Z etc.
https://vimeo.com/manage/videos/571669764

[2021-07-06 15:04] 0xElessar commented on #51
Thanks a lot for checking that. Much appreciated.

Really bizarre. For me, shortcuts do not work completely in the field with JWT. I can use them in the right box (with the encryption key) or any other Burp area.

Do you use the built-in JRE provided with Burp? Or you use burp .jar with separate JAVA installation?

[2021-07-06 15:05] ozzi- commented on #51
Dumb question -  have you tried restarting your PC?
Also please try to disable any other extensions and try again.
I am using the bundled JRE.

Edit:
Please go to the Tab "Extender" -> "JWT4B" -> Tab "output" & "errors", does it contain any info?
https://i.imgur.com/bj225EH.png

[2021-07-06 15:10] 0xElessar commented on #51
cheers :)

BTW I checked the plugin when intercepting. Works great. Exactly like you demonstrated! But if I send it to the Repeater, and try to edit the JWT ... this does not work :(

I can see the following errors:
14:58:12.812 | Could not replace token in post body.
14:58:53.308 | Could not replace token in post body.
14:59:07.166 | Could not replace token in post body.
15:06:07.147 | Could not

[2021-07-07 07:34] ozzi- commented on #51
Repeater works too, at least for me:
https://vimeo.com/manage/videos/572000811

Can you provide a screenrecording or try another device? Something weird must be going on :D

[2021-07-07 10:16] 0xElessar commented on #51
Thanks a lot for checking again!

This must mean there is something wrong with my setup. I will do clean install and disable all other plugins. Thank you for the help!

Great to know the plugin works perfectly :)

[2021-07-07 10:16] #51 closed

[2021-07-07 10:23] ozzi- commented on #51
You are welcome.
Please do let me know, if you find out what the problem is :)

[2021-08-13 11:07] darkprogrammernight opened #52 "problem with "alg:none" exploitation"
when using "alg:none" exploit, the signature should be deleted and that's indeed what JWT4B does. but for the next requests, JWT4B <ins>can't recognize the jwt token</ins> because of the validations in the [TokenCheck.java](https://github.com/ozzi-/JWT4B/blob/master/src/app/helpers/TokenCheck.java) file.

I think validating the jwt token with this regex will solve the problem:
`([A-Za-z0-9+/=_-]+\

[2021-08-31 07:01] ozzi- commented on #52
Hi @darkprogrammernight
Thank for your bug report & possible solution.
Once im fully back from holidays, ill investigate.

Cheers

[2021-09-01 14:45] ozzi- commented on #52
Hi @darkprogrammernight
Can you check if my latest push fixed this issue?
Feel free to compile it yourself or find the prebuilt JAR here:
[JWT4B.zip](https://github.com/ozzi-/JWT4B/files/7092054/JWT4B.zip)

Cheers

[2021-09-22 09:16] ozzi- commented on #52
b8b330af

[2021-09-22 09:16] #52 closed

[2021-11-09 09:22] ozzi- commented on #10
still 1.7.22

[2021-12-07 18:41] ozzi- opened #55 "Feedback from Portswigger"
- In "src/app/controllers/ContextMenuController.java" you reference an ongoing issue where you can receive the incorrect request/response pair if the original request was edited. This should be fixed in our upcoming release of 2021.12. I also noticed that you made reference to the Extender API version of 1.7.22 - we do have some more recent Extender API versions that can be found here: [https://mv

[2021-12-09 18:00] ozzi- commented on #10
https://mvnrepository.com/artifact/net.portswigger.burp.extender/burp-extender-api/2.3 ahhh

2.3 is still broken

[2021-12-14 13:46] ozzi- commented on #10
This is fixed in BURP itself, starting with 2021-12 early adopter.

[2021-12-14 13:46] #10 closed

[2021-12-22 08:13] ozzi- opened #57 "Sign with random keypair - no realtime signature updates"

[2021-12-30 15:49] DolphFlynn opened #58 "NPE on initial use with JWT using with RS256 or ES256"
* Open new temporary project in Burp (2021.12 Early Adopter - installer version)
* Load 'JSON Web Tokens' extension
* Select 'JSON Web Tokens' tab
* Paste valid JWT Token with RS256 algorithm into 'Enter JWT' text area:
`eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJ1c2VybmFtZSI6InRlc3QiLCJhZG1pbiI6ZmFsc2V9.i8bDiqGHk5xcNyzSgQgF4u_VoCrWecMmgXR7TLIpcQFgF8SLWm-_QKUp1tshc0qkufftvTeu88TD9EcG23K1uoq2qWGHQqKNG

[2022-01-17 10:54] DolphFlynn commented on #58
Fixed in version 2.1.

[2022-01-17 10:54] #58 closed

[2022-01-26 16:49] henshin opened #65 "Improper automatic encoding"
JWT4B seems to be automatically applying an unicode encoding on some characters as soon as it parses the JWT.
I noticed this on the JWT header. I think it doesn't happen on other parts of the token.
Here's an example. This is how the original header decodes to:
[code]
This is what JWT4B decodes it to as soon as I switch on the extension on Burp's Repeater:
[code]
So by simply by switching on the e

[2022-01-28 20:11] DolphFlynn commented on #65
This is caused by Gson when pretty printing within ReadableTokenFormat. A simple fix is to use minimal-json to do the pretty printing instead. I'll submit a PR at some point, but in the meantime, this is fixed within a branch (issue65-erroneous-encoding) on my fork.

[2022-01-28 23:35] henshin commented on #65
Thanks for investigating and solving this issue 👍

[2022-01-28 23:35] #65 closed

[2022-02-11 14:11] #57 closed

[2022-03-08 11:47] ozzi- commented on #55
done with 9c59477af02d47

[2022-03-08 11:47] #55 closed

[2022-06-05 19:33] virusvfv opened #71 "Add hex key support"
In some cases HMAC key for signing JWT is non-ascii hex string. So we have to support it with JWT4B.
For example U can add in KeyHelper class ( in cleankey or some else method) condition: if key begins from 0x... then key string is been interpreted as hex string.

[2022-06-06 11:13] virusvfv commented on #71
I created pull request about it ...

[2022-06-16 06:32] ozzi- commented on #71
😎👍
https://github.com/ozzi-/JWT4B/commit/3d30b573738574716463c5c05421fe3d62934c2f

[2022-06-16 06:32] #71 closed

[2022-06-20 19:38] virusvfv opened #74 "Enhancement: adding SessionHandling controller"
I think that JWT4B needs supporting for burp SessionHandling. (ex: it would be sessionhandling controller or some else)..
On other words, we set signing algorithm an signing key and use JWT4B  as SessionHandling extension to re-sign every JWT that correspond our session rules (for example: every JWT in packets to login.microsoftonline.com).
With this feature we can automatically fuzz fields inside

[2022-06-22 17:27] lanmaster53 opened #75 "Repeater/Intercept extension interface no longer available"
After the latest update, the JWT4B attack interface is no longer available in Repeater or Intercept.

[2022-06-23 04:30] virusvfv commented on #75
Hi. Tell please more about this fail. Your burp version, how U installed this extension,  and what error message it gives when loading (in Out / Error tabs in Burp Extender) ???
In my Burp (2022.5.1) release version of jar works well.
![Screenshot_2022-06-23_00-25-19](https://user-images.githubusercontent.com/41779447/175209270-08a2ae55-4536-4ae1-a75e-f1ea4e87740c.png)

![Screenshot_2022-06-23_00-

[2022-06-23 13:50] lanmaster53 commented on #75
I am using the package installer version of Burp Suite Pro 2022.5.1 (Stable) and Burp Suite Pro 2022.6 (Early Adopter) on a fully updated Mac OS Cataline 10.15.7. The extension is installed via the BApp store with no errors during loading.

I believe the issue to be the extension's recognition of the JWT. As you can see below, the JWT is sent in the Authorization header without the `Bearer` keywor

[2022-06-24 14:13] lanmaster53 commented on #75
Looking in the JWT4B configuration, it appears that the detection triggers are configurable. I modified them and now it does indeed detect the token. I will close this issue. Thanks!

[2022-06-24 14:13] #75 closed

[2022-06-29 07:34] ozzi- commented on #74
Can you send me any link to get started / read about this matter?

[2022-06-30 16:55] virusvfv commented on #74
I'll check some ideas about it and will be back after couple days...

[2022-07-02 14:52] virusvfv commented on #74
Hi once more...)
After some experiments with burp and jwt's I got next idea...
Suppose we have some JWT (in decoded view)
[code]
and we want to fuzz  someheader1 and payload1.
We can't do this with burp intruder or burp scanner. We can  do this  only with repeater and JWT4B in manual mode using HS256 or RSA key to correct sign every time.
So my idea is:
Let put our JWT in CLEARTEXT in Intruder or

[2022-07-13 11:05] ozzi- commented on #74
Hi @virusvfv
Thank you for the elaborations, I was very busy at work and only managed to read this now.
Starting next week I will be on an extended holiday.
When I return, I will give this a try - maybe somebody else has some time until then.

Best regards & see you